:root {
  --darkgrey: rgba(0, 0, 0, 0.5);
  --grey: rgba(0, 0, 0, 0.2);
  --offwhite: rgba(230, 230, 230, 1);
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

/* MESSAGES */

.messages {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
}

.message {
  background: var(--grey);
  border-radius: 10px;
  color: var(--darkgrey);
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;
}

/* HEADER */
header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

header h1 {
  color: var(--darkgrey);
  margin: 0;
}

nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}

nav a {
  color: var(--darkgrey);
  text-decoration: none;
}

/* FORMS */

form {
  background: white;
  border-radius: 5px;
  margin: 0 auto;
  max-width: 400px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

form h2 {
  color: var(--darkgrey);
  font-weight: 300;
  margin: 0;
}

form button {
  background: var(--grey);
  border: none;
  border-radius: 5px;
  color: var(--darkgrey);
  cursor: pointer;
  font-weight: 300;
  height: 3rem;
  padding: 5px 10px;
  outline: none;
  width: calc(100% - 40px);
}

form > div:last-child {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  padding: 0 20px;
  margin-top: 20px;
}

form > div:last-child a {
  color: var(--darkgrey);
  text-decoration: none;
}

/* FORM FIELDS AND LABELS */

.form__group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

label {
  color: var(--darkgrey);
  font-weight: 300;
  margin-bottom: 5px;
}

input {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: 300;
  color: var(--darkgrey);
  height: 2.75rem;
  padding: 0 12px;
  width: 100%;
}

input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-style: italic;
}

.form__group > div:last-child {
  color: rgba(255, 0, 0, 0.7);
  font-size: 0.7rem;
  font-weight: 300;
  margin-top: 68px;
  position: absolute;
}
