:root {
  /* --darkgrey: rgba(0, 0, 0, 0.5);
  --grey: rgba(0, 0, 0, 0.2); */
  --offwhite: rgba(230, 230, 230, 1);

  --grey: #cccccc;
  --darkgrey: #666666;
}

* {
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
  font-size: 16px;
}

/* MESSAGES */

.messages {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 10px;
  position: relative;
  top: -56px;
  z-index: 10;
}

.message {
  background: var(--grey);
  border-radius: 10px;
  /* box-shadow: 0 2.5px 5px rgba(0, 0, 0, 0.15); */
  color: var(--darkgrey);
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 300;
  margin: 0 auto;
  max-width: 90%;
  padding: 10px;
  transition: opacity 200ms;
}

.hidden {
  opacity: 0;
}

/* HEADER */
header {
  align-items: center;
  display: flex;
  height: 75px;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  color: var(--darkgrey);
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  text-decoration: none;
}

nav {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 10px;
}

nav a {
  color: var(--darkgrey);
  font-weight: 300;
  text-decoration: none;
}

/* FORMS */

form {
  background: white;
  border-radius: 5px;
  margin: 0 auto 50px auto;
  max-width: 400px;
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

form h2 {
  color: var(--darkgrey);
  font-weight: 300;
  margin: 0;
}

form button {
  background: var(--grey);
  border: none;
  border-radius: 5px;
  color: var(--darkgrey);
  cursor: pointer;
  font-weight: 300;
  height: 3rem;
  padding: 5px 10px;
  outline: none;
  width: calc(100% - 40px);
}

form > div:last-child {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  padding: 0 20px;
  margin-top: 20px;
}

form > div:last-child a {
  color: var(--darkgrey);
  text-decoration: none;
}

/* FORM FIELDS AND LABELS */

.form__group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
}

label {
  color: var(--darkgrey);
  font-weight: 300;
  margin-bottom: 5px;
}

input {
  background: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  font-weight: 300;
  color: var(--darkgrey);
  height: 2.75rem;
  padding: 0 12px;
  width: 100%;
}

input:focus {
  border: 1px solid rgba(0, 0, 0, 0.4);
  outline: none;
}

::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-style: italic;
}

.form__group > div:last-child {
  color: rgba(255, 0, 0, 0.7);
  font-size: 0.7rem;
  font-weight: 300;
  margin-top: 68px;
  position: absolute;
}

/* PROFILES */

.profile__container {
  margin: 50px auto 75px auto;
  max-width: 500px;
  width: calc(100% - 40px);
}

.profile__avatar {
  align-items: center;
  background: var(--darkgrey);
  border: 3px solid var(--darkgrey);
  border-radius: 50%;
  display: flex;
  height: 200px;
  justify-content: center;
  margin-top: -10%;
  margin-bottom: -3%;
  width: 200px;
  object-fit: cover;
}

.profile__avatar img {
  border-radius: 50%;
  object-fit: cover;
  width: 100%;
}

.profile__top {
  background: var(--grey);
  border-radius: 10px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  display: flex;
  justify-content: center;
}

.profile__details {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 0px auto 50px auto;
}

.profile__details p {
  color: var(--darkgrey);
  font-weight: 300;
  font-size: 1.3rem;
}

.profile__details p:first-child {
  font-size: 2rem;
}

.profile__controls {
  align-items: center;
  display: flex;
  grid-auto-flow: column;
  grid-auto-columns: 150px;
  grid-gap: 30px;
  justify-content: center;
  justify-items: center;
}

.btn {
  background: var(--grey);
  border: none;
  border-radius: 5px;
  color: var(--darkgrey);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 300;
  margin: 10px;
  outline: none;
  padding: 10px;
  text-decoration: none;
}

.btn--danger {
  background: linear-gradient(0deg, #e7bcba, #cccccc);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 1s ease infinite;
  -moz-animation: AnimationName 1s ease infinite;
  animation: AnimationName 1s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 51% 0%;
  }
  50% {
    background-position: 50% 100%;
  }
  100% {
    background-position: 51% 0%;
  }
}

.btn--standard {
  background-color: #abbfd7;
  color: rgba(255, 255, 255, 0.7);
}

/* USER LIST */

.user__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: 30px;
  margin: 0 20px 75px 20px;
  justify-content: center;
}

/* .user__list:hover .user__card {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
} */

/* .user__list:hover .user__card:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  margin: -1px 0 1px 0;
} */

.user__card {
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: var(--darkgrey);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 200ms;
}

.user__card:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
  margin: -2px 0 2px 0;
}

.user__card img {
  border-radius: 5px 5px 0 0;
  width: 100%;
}

@media only screen and (max-width: 410px) {
  .profile__controls {
    grid-auto-flow: row;
    flex-direction: column;
  }
}

/* SPINNER */
.loader__wrapper {
  align-items: center;
  display: flex;
  height: calc(100vh - 150px);
  justify-content: center;
}
.loader,
.loader:before,
.loader:after {
  background: #666666;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #666666;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}
.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
