.form__group {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  outline: 1px dashed red;
}

.field__label {
}

.form__field {
  background: none;
  border: none;
}

.form__field--text {
  border: 1px solid black;
}

.form__field--error {
  margin-top: 3.1rem;
  color: red;
  font-size: 0.8rem;
  padding-left: 5px;
  position: absolute;
}

.form__field:focus {
  outline: none;
}
